# Exploratory Data Analysis Exercise
* For this part we will be using the `data/cars.csv` dataset

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

%matplotlib inline 
import scipy.stats as stats

df = pd.read_csv('data/cars.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Compact,Convertible,28,18,3916,34500

# Load in the data
* Use the file in the data folder called 'cars.csv'
* Save it as a varible named 'df'
* Display the first 5 rows of our dataframe

In [ ]:
df = pd.read_csv('data/cars.csv')

# Data clean up part 1.

1. Print the number of duplicate rows we have in our dataframe.

2. Modify our df to have all duplicate rows removed. 

3. Do a sanity check to make sure all duplicates have been removed by printing the total number of duplicate rows again.

In [ ]:
# 1. Print the number of duplicate rows we have in our dataframe.
print(df.duplicated())
df.duplicated().value_counts()

0        False
1        False
2        False
3        False
4        False
         ...
11909    False
11910    False
11911    False
11912    False
11913    False
Length: 11914, dtype: bool

False    11194
True       720
dtype: int64

In [ ]:
#  2. Modify our df to have all duplicate rows removed. 
print(df.shape, 'before dropping duplicates')

df = df.drop_duplicates()

print(df.shape, 'After dropping duplicates')

(11914, 15) before dropping duplicates
(11194, 15) After dropping duplicates

In [ ]:
# 3. Do a sanity check to make sure all duplicates have been removed by printing the total number of duplicate rows again.
print(df.duplicated().sum())

# Data clean up part 2.
* Which column has the most null values and how many null values does it have?
* Print how long our dataframe is.
* Remove any row that has a null value in it. 
* Do a sanity check and pring how long our dataframe is now that we have removed our null values.

In [ ]:
# * Which column has the most null values and how many null values does it have?
null_counts = df.isnull().sum()
column_with_most_nulls = null_counts.idxmax()
count_of_most_nulls = null_counts.max()
print(f"Column with most nulls: {column_with_most_nulls}, Count: {count_of_most_nulls}")

In [ ]:
# * Print how long our dataframe is.

print(f"Length of the dataframe: {len(df)}")

In [ ]:
# * Remove any row that has a null value in it. 

df = df.dropna()

In [ ]:
# * Do a sanity check and pring how long our dataframe is now that we have removed our null values.

print(f"Length of the dataframe after removing nulls: {len(df)}")

### Make a bar chart that displays how many times each brand of car appears in this data. 
_Brand of car is the `Make` of the car._
* You can achieve this by using value_counts or by a groupby.  Either is fine with me.

In [ ]:
# Make a bar chart that displays how many times each brand of car appears in this data. 


make_count = df.groupby('Make').agg(['count'])
make_count

# Make the cart more legible, by making it a horizontal bar chart and changing the figure size.  And also sort the values so the bar chart displays from lowest to highest.

In [ ]:
# Make the cart more legible, by making it a horizontal bar chart, sorting the values, and changing the figure size.


make_count_s = df['Make'].value_counts()
make_count_s

# Make a timeline line chart in which the x-axis is the Year, and the y-axis is the mean MSRP.
* you're going to have to do a `groupby` for this one for sure. 
* What's noticeable about it and what do you think the error is...

In [ ]:
# Make a timeline line chart in which the x-axis is the year, and the y-axis is the average MSRP.
make_count_s.plot(kind="bar", figsize= (75,75))

# It seems as though in the years before (and includig) 2000, they were counting in tens.
Make a new column that is called `adjusted_price`, that contains all prices, however, for every year before 2000 make it 10x the original MSRP.  
   * Hint; you might need to use our old friend `np.where`

In [ ]:
# Make a column where is 10 when year is less than 2000, else 1.


# Multiply the MSRP by the price adjuster.


make_count_s_sort = make_count_s.sort_values()
make_count_s_sort.plot(kind = "barh", figsize=(20, 10))

# Replot the new adjusted price.  
* Make the y-axis start at 0 and go up to 100,000

In [ ]:
# Plot new prices
plt.ylim(0,100000)
df.groupby("Year")["MSRP"].mean().plot()

# Plot the relationship between Engine HP and highway MPG

In [ ]:
# Plot the relationship between Engine HP and highway MPG
df.columns
#df.plot(kind="line",x="Engine HP",y="highway MPG",figsize=(10,10))
df.groupby("Engine HP")["highway MPG"].mean().plot(figsize=(30,10))

In [ ]:
### IF WE DIDN'T GET TO REMOVING OUTLIERS IN CLASS, THEN YOU CAN SKIP THIS SECTION
# Remove any outliers from Engine HP and highway MPG 
boolean_mask = ((df["highway MPG"] < 55) & (df["Engine HP"] < 800))

# Replot the relationship between Engine HP and highway MPG

In [ ]:
# Re-Plot the relationship between Engine HP and highway MPG
df[boolean_mask].groupby("Engine HP")["highway MPG"].mean().plot(figsize=(30,10))

# Make a scatter plot of Engine HP vs highway MPG

In [ ]:
# Make a scatter plot of Engine HP vs highway MPG
df[boolean_mask].plot(kind="scatter",x="Engine HP", y="highway MPG",figsize=(30,10))

# What does this plot tell you about how Engine HP affects highway MPG?

In [ ]:
# What does this plot tell you about how Engine HP affects highway MPG?

print('If the horsepower increases , so we know the highway MPG decreases.')

Your answer here.

# Using a pairplot, display all of the linear relationship.
* Which variables look like they have the strongest linear relationship (Besides MSRP and adjusted_price).

In [ ]:
# Using a pairplot, display all of the linear relationship.

sns.pairplot(df,kind="reg")

In [ ]:
# * Which variables look like they have the strongest linear relationship (Besides MSRP and adjusted_price).

print("city mpg and highway MPG")

# Find which features actually have the strongest linear relationship using correlations.
* Make a heatmap plot of all of the correlations in our dataset.
* Change the figure size of our heatmap plot to be 8x8
* __Which feature does Engine HP have the strongest relationship with, and why do you think that relationship exists.__

In [ ]:
# * Make a heatmap plot of all of the correlations in our dataset.
# * Change the figure size of our heatmap plot to be 8x8


plt.figure(figsize=(8,8))
sns.heatmap(df.corr(numeric_only=True))

In [ ]:
# Which feature does Engine HP have the strongest relationship with, and why do you think that relationship exists.
print('Now it has the strongest relationship with the Engine Cylinders!')

Your answer here

# [EXTRA CREDIT] 
* (EASY) In the column names, replace all the spaces with an underscore, and make them all lowercase as well.

* (Easy) Learn more about cleaning data by following along in TA Georgios' tutorial in TA-Tips folder named `GI-Tips_1.ipynb`.

* (Medium) Do the same vizualizations using bokeh by following along in TA Stevens tutorial in the TA-Tips folder named `SS-Tips.ipynb`.


* (Medium) Learn how to remove outliers properly by following along in TA Georgios' tutorial in TA-Tips folder named `GI-Tips_2.ipynb`.

* (Variable) Complete one or more of the [Extra-Extra credit](https://docs.google.com/document/d/1D99fY13cF3kzIiJILZ3fwzhOF73z_xPBNxxweMpBkOY/edit) items.